<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="nl.jeroen.domain.Bank" />
		<mapping class="nl.jeroen.domain.BankAccount" />
		<mapping class="nl.jeroen.domain.CreditAccount" />
		<mapping class="nl.jeroen.domain.Person" />
	</session-factory>
</hibernate-configuration>
